<% if signed_in? %>
  <p class="signed_in_notification_container">Signed in as: <%= link_to current_user.user_name, current_user, class: "signed_in_notification" %></p>
<% end %>

<div class="page_content">

  <h1 class="link_to_home_header_container"><%= link_to 'Classtronomy', root_path, class: "link_to_home_header" %></h1>

  <h2>Make edits to the question and press submit.</h2>

  <%= render 'form' %>

</div>
