<% if signed_in? %>
  <p class="signed_in_notification_container">Signed in as: <%= link_to current_user.user_name, current_user, class: "signed_in_notification" %></p>
<% end %>

  <div class="page_content">
  <h1><%= link_to 'Classtronomy', root_path, class: "link_to_home_header" %></h1>
  <h2>Add a new question to the course quiz.</h2>

  <%= render 'form' %>

</div>
