<div class="page_content">

  <% if signed_in? %>
  <p class="welcome_page_signed_in_notification_container">Signed in as: <%= link_to current_user.user_name, current_user, class: "signed_in_notification" %></p>
  <% end %>

  <h1><%= link_to 'Classtronomy', root_path, class: "link_to_home_header" %></h1>

  <h2><%= @user.user_name %> - Profile</h2>
  <p>Badges Earned:</p>
  <ul class="users_badges">
    <% @user.scores.passed.each do |passing_score| %>
      <li><%= image_tag(passing_score.badge_image_file) %></li>
    <% end %>
  </ul>

</div>
