<div class="page_content">
<h1>List of Courses</h1>

<% @courses.each do |course| %>
  <div class="course_wrapper">
    <h2 class="name"><%= link_to course.name, course %></h2>
    <hr>
  </div>
<% end %>

<nav>
  <%= link_to 'Back Home', root_path %> |
  <%= link_to 'Create New Course', new_course_path %>
</nav>
</div>
