<div class="page_content">

  <h1 class="link_to_home_header">Classtronomy</h1>

  <h2>Choose a Course</h2>

  <% @courses.each do |course| %>
    <div class="course_wrapper">
      <%= link_to course.name, course, class: 'course_name' %>
    </div>
  <% end %>

  <nav>
    <%= link_to 'Back Home', root_path %>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Create New Course', new_course_path %>
    <% end %>
  </nav>
</div>
